@font-face {
    font-family: "SF Pro Display Regular";
    src: url('../fonts/SF Pro/SFProDisplay-Regular.ttf');
}
@font-face {
    font-family: "SF Pro Display Bold";
    src: url('../fonts/SF Pro/SFProDisplay-Bold.ttf');
}
@font-face {
    font-family: "Baloo Bhai Regular";
    src: url('../fonts/BalooBhai/BalooBhai2-Regular.ttf');
}
@font-face {
    font-family: "Baloo Bhai Medium";
    src: url('../fonts/BalooBhai/BalooBhai2-Medium.ttf');
}
@font-face {
    font-family: "Baloo Bhai Bold";
    src: url('../fonts/BalooBhai/BalooBhai2-Bold.ttf');
}