body {
    @media (min-width: 769px) {
        display: flex;
        min-height: 100% !important;
        height: 100%;
        margin: 0;
        overflow: hidden;
    }
}

html {
    @media (min-width: 769px) {
        min-height: 100% !important;
        height: 100%;
    }
}

