.button-default {
    font-family: "SF Pro Display Regular", sans-serif;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: white;
    font-weight: bold;
    padding: 10px 20px;
    transition: transform .2s linear;
    &:focus {
        outline: none;
    }
    &:hover {
        cursor: pointer;
        transform: scale(1.04);
    }
    &:active {
        background-color: rgb(196, 196, 196);
    }
}