.quote-cards {
    @media (min-width: 769px) {
        width: 100%;
        overflow-y: scroll;
    }
}

.card {
    width: 40%;
    margin: 20px auto;
    font-family: "SF Pro Display Regular", sans-serif;
    @media (max-width: 1676px) {
        width: 60%;
    }
    @media (max-width: 1250px) {
        width: 80%;
    }
    @media (max-width: 768px) {
        &:first-child {
            margin-top: 170px;
        } 
    }
    @media (max-width: 550px) {
        width: 90%;
    }
    &__component {
        &--header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
            &-profile {
                display: flex;
                align-items: center;
                &-photo {
                    height: 70px;
                    width: 70px;
                    border-radius: 50px;
                    overflow: hidden;
                    @media (max-width: 425px) {
                        width: 50px;
                        height: 50px;
                    }
                }
                &-name {
                    margin-left: 20px;
                    font-weight: 600;
                    font-size: 20px;
                }
            }
        }
        &--body {
            background-color: #f5f5f5;
            padding: 50px 50px 90px 50px;
            border-radius: 10px;
            &-quote-mark {
                font-size: 80px;
                color: rgba(0, 0, 0, 0.5);
                margin-bottom: 30px;
                @media (max-width: 768px) {
                    font-size: 50px;
                }
            }
            &-quote-text {
                font-weight: bold;
                text-align: center;
                margin-bottom: 30px;
                width: 80%;
                margin: auto auto 30px auto;
            }
            &-quote-author {
                color: #afaeae;
                font-size: 15px;
                font-style: italic;
                text-align: right;
            }
        }
        &--reactions-container {
            display: flex;
            justify-content: center;
            width: 100%;
        }
        &--reaction {
            background-color: #f5f5f5;
            width: 15%;
            border-radius: 10px;
            font-size: 20px;
            font-weight: 800;
            margin: 15px;
            -moz-box-shadow: 0px 2px 3px 1px gray;
            -webkit-box-shadow: 0px 2px 3px 1px gray;
            box-shadow: 0px 2px 3px 1px gray;
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-transition: color 200ms linear, background-color 200ms linear;
            -moz-transition: color 200ms linear, background-color 200ms linear;
            -o-transition: color 200ms linear, background-color 200ms linear;
            transition: color 200ms linear, background-color 200ms linear;
            @media (max-width: 858px) {
               margin: 10px;
               font-size: 16px;
               padding-left: 5px;
               padding-right: 5px;
            }
            @media (max-width: 650px) {
               margin: 10px;
               font-size: 15px;
            }
            @media (max-width: 500px) {
               margin: 10px 5px;
            }
            @media (max-width: 375px) {
               font-size: 14px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.reaction,
.reaction-counter {
    display: block;
    margin: 10px;
    @media (max-width: 500px) {
        margin: 5px;
    }
}

.reaction-active {
    background-color: black;
    color: white;
}
